---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    api-approved.kubernetes.io: unapproved, experimental v1alpha2 changes
    controller-gen.kubebuilder.io/version: v0.19.0
  name: bucketaccesses.objectstorage.k8s.io
spec:
  group: objectstorage.k8s.io
  names:
    kind: BucketAccess
    listKind: BucketAccessList
    plural: bucketaccesses
    singular: bucketaccess
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: BucketAccess is the Schema for the bucketaccesses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of BucketAccess
            properties:
              bucketAccessClassName:
                description: bucketAccessClassName selects the BucketAccessClass for
                  provisioning the access.
                maxLength: 253
                minLength: 1
                type: string
                x-kubernetes-validations:
                - message: bucketAccessClassName is immutable
                  rule: self == oldSelf
              bucketClaims:
                description: |-
                  bucketClaims is a list of BucketClaims the provisioned access must have permissions for,
                  along with per-BucketClaim access parameters and system output definitions.
                  At least one BucketClaim must be referenced.
                  A maximum of 128 BucketClaims may be referenced.
                  Multiple references to the same BucketClaim are not permitted.
                items:
                  description: |-
                    BucketClaimAccess selects a BucketClaim for access, defines access parameters for the
                    corresponding bucket, and specifies where user-consumable bucket information and access
                    credentials for the accessed bucket will be stored.
                  properties:
                    accessMode:
                      description: |-
                        accessMode is the Read/Write access mode that the access should have for the bucket.
                        The provisioned access will have the corresponding permissions to read and/or write objects
                        the BucketClaim's bucket.
                        The provisioned access can also assume to have corresponding permissions to read and/or write
                        object metadata and object metadata (e.g., tags) except when metadata changes would change
                        object store behaviors or permissions (e.g., changes to object caching behaviors).
                        Possible values: 'ReadWrite', 'ReadOnly', 'WriteOnly'.
                      enum:
                      - ReadWrite
                      - ReadOnly
                      - WriteOnly
                      type: string
                    accessSecretName:
                      description: |-
                        accessSecretName is the name of a Kubernetes Secret that COSI should create and populate with
                        bucket info and access credentials for the bucket.
                        The Secret is created in the same Namespace as the BucketAccess and is deleted when the
                        BucketAccess is deleted and deprovisioned.
                        The Secret name must be unique across all bucketClaimRefs for all BucketAccesses in the same
                        Namespace.
                        Must be a valid Kubernetes resource name: at most 253 characters, consisting only of
                        lower-case alphanumeric characters, hyphens, and periods, starting and ending with an
                        alphanumeric character.
                      maxLength: 253
                      minLength: 1
                      type: string
                      x-kubernetes-validations:
                      - message: name must be a valid resource name
                        rule: '!format.dns1123Subdomain().validate(self).hasValue()'
                    bucketClaimName:
                      description: |-
                        bucketClaimName is the name of a BucketClaim the access should have permissions for.
                        The BucketClaim must be in the same Namespace as the BucketAccess.
                        Must be a valid Kubernetes resource name: at most 253 characters, consisting only of
                        lower-case alphanumeric characters, hyphens, and periods, starting and ending with an
                        alphanumeric character.
                      maxLength: 253
                      minLength: 1
                      type: string
                      x-kubernetes-validations:
                      - message: name must be a valid resource name
                        rule: '!format.dns1123Subdomain().validate(self).hasValue()'
                  required:
                  - accessMode
                  - accessSecretName
                  - bucketClaimName
                  type: object
                maxItems: 128
                minItems: 1
                type: array
                x-kubernetes-list-map-keys:
                - bucketClaimName
                x-kubernetes-list-type: map
                x-kubernetes-validations:
                - message: bucketClaims list is immutable
                  rule: self == oldSelf
              protocol:
                description: |-
                  protocol is the object storage protocol that the provisioned access must use.
                  Access can only be granted for BucketClaims that support the requested protocol.
                  Each BucketClaim status reports which protocols are supported for the BucketClaim's bucket.
                  Possible values: 'S3', 'Azure', 'GCS'.
                enum:
                - S3
                - Azure
                - GCS
                type: string
                x-kubernetes-validations:
                - message: protocol is immutable
                  rule: self == oldSelf
              serviceAccountName:
                description: |-
                  serviceAccountName is the name of the Kubernetes ServiceAccount that user application Pods
                  intend to use for access to referenced BucketClaims.
                  Required when the BucketAccessClass is configured to use ServiceAccount authentication type.
                  Ignored for all other authentication types.
                  It is recommended to specify this for all BucketAccesses to improve portability.
                maxLength: 253
                minLength: 1
                type: string
                x-kubernetes-validations:
                - message: serviceAccountName is immutable
                  rule: self == oldSelf
            required:
            - bucketAccessClassName
            - bucketClaims
            - protocol
            type: object
            x-kubernetes-validations:
            - message: serviceAccountName cannot be added or removed after creation
              rule: has(oldSelf.serviceAccountName) == has(self.serviceAccountName)
          status:
            description: status defines the observed state of BucketAccess
            properties:
              accessedBuckets:
                description: |-
                  accessedBuckets is a list of Buckets the provisioned access must have permissions for, along
                  with per-Bucket access options. This field is populated by the COSI Controller based on the
                  referenced BucketClaims in the spec.
                items:
                  description: AccessedBucket identifies a Bucket and correlates it
                    to a BucketClaimAccess from the spec.
                  properties:
                    bucketClaimName:
                      description: |-
                        bucketClaimName must match a BucketClaimAccess's BucketClaimName from the spec.
                        Must be a valid Kubernetes resource name: at most 253 characters, consisting only of
                        lower-case alphanumeric characters, hyphens, and periods, starting and ending with an
                        alphanumeric character.
                      maxLength: 253
                      minLength: 1
                      type: string
                      x-kubernetes-validations:
                      - message: name must be a valid resource name
                        rule: '!format.dns1123Subdomain().validate(self).hasValue()'
                    bucketID:
                      description: |-
                        bucketID is the unique identifier for the backend bucket known to the driver for which
                        this access should have permissions.
                        Must be at most 2048 characters and consist only of alphanumeric characters ([a-z0-9A-Z]),
                        dashes (-), dots (.), underscores (_), and forward slash (/).
                      maxLength: 2048
                      minLength: 1
                      pattern: ^[a-zA-Z0-9/._-]+$
                      type: string
                    bucketName:
                      description: |-
                        bucketName is the name of a Bucket the access should have permissions for.
                        Must be a valid Kubernetes resource name: at most 253 characters, consisting only of
                        lower-case alphanumeric characters, hyphens, and periods, starting and ending with an
                        alphanumeric character.
                      maxLength: 253
                      minLength: 1
                      type: string
                      x-kubernetes-validations:
                      - message: name must be a valid resource name
                        rule: '!format.dns1123Subdomain().validate(self).hasValue()'
                  required:
                  - bucketClaimName
                  - bucketID
                  - bucketName
                  type: object
                maxItems: 128
                minItems: 1
                type: array
                x-kubernetes-list-map-keys:
                - bucketName
                x-kubernetes-list-type: map
                x-kubernetes-validations:
                - message: accessedBuckets is immutable once set
                  rule: self == oldSelf
              accountID:
                description: |-
                  accountID is the unique identifier for the backend access known to the driver.
                  This field is populated by the COSI Sidecar once access has been successfully granted.
                  Must be at most 2048 characters and consist only of alphanumeric characters ([a-z0-9A-Z]),
                  dashes (-), dots (.), underscores (_), and forward slash (/).
                maxLength: 2048
                minLength: 1
                pattern: ^[a-zA-Z0-9/._-]+$
                type: string
                x-kubernetes-validations:
                - message: accountId is immutable once set
                  rule: self == oldSelf
              authenticationType:
                description: |-
                  authenticationType holds a copy of the BucketAccessClass authentication type from the time of
                  BucketAccess provisioning. This field is populated by the COSI Controller.
                  Possible values:
                   - Key: clients may use a protocol-appropriate access key to authenticate to the backend object store.
                   - ServiceAccount: Pods using the ServiceAccount given in spec.serviceAccountName may authenticate to the backend object store automatically.
                enum:
                - Key
                - ServiceAccount
                type: string
                x-kubernetes-validations:
                - message: authenticationType is immutable once set
                  rule: self == oldSelf
              driverName:
                description: |-
                  driverName holds a copy of the BucketAccessClass driver name from the time of BucketAccess
                  provisioning. This field is populated by the COSI Controller.
                  Must be 63 characters or less, beginning and ending with an alphanumeric character
                  ([a-z0-9A-Z]) with dashes (-), dots (.), and alphanumerics between.
                maxLength: 63
                minLength: 1
                pattern: ^[a-zA-Z0-9]([a-zA-Z0-9\-\.]{0,61}[a-zA-Z0-9])?$
                type: string
                x-kubernetes-validations:
                - message: driverName is immutable once set
                  rule: self == oldSelf
              error:
                description: |-
                  error holds the most recent error message, with a timestamp.
                  This is cleared when provisioning is successful.
                minProperties: 0
                properties:
                  message:
                    description: |-
                      message is a string detailing the encountered error.
                      NOTE: message will be logged, and it should not contain sensitive information.
                      Must not exceed 1.5MB.
                    maxLength: 1572864
                    minLength: 0
                    type: string
                  time:
                    description: time is the timestamp when the error was encountered.
                    format: date-time
                    type: string
                type: object
              parameters:
                additionalProperties:
                  type: string
                description: |-
                  parameters holds a copy of the BucketAccessClass parameters from the time of BucketAccess
                  provisioning. This field is populated by the COSI Controller.
                maxProperties: 512
                minProperties: 1
                type: object
                x-kubernetes-validations:
                - message: accessedBuckets is immutable once set
                  rule: self == oldSelf
              readyToUse:
                description: readyToUse indicates that the BucketAccess is ready for
                  consumption by workloads.
                type: boolean
            required:
            - readyToUse
            type: object
            x-kubernetes-validations:
            - message: accountID cannot be removed once set
              rule: '!has(oldSelf.accountID) || has(self.accountID)'
            - message: accessedBuckets cannot be removed once set
              rule: '!has(oldSelf.accessedBuckets) || has(self.accessedBuckets)'
            - message: driverName cannot be removed once set
              rule: '!has(oldSelf.driverName) || has(self.driverName)'
            - message: authenticationType cannot be removed once set
              rule: '!has(oldSelf.authenticationType) || has(self.authenticationType)'
            - message: parameters cannot be removed once set
              rule: '!has(oldSelf.parameters) || has(self.parameters)'
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
